policy_module(dcg, 1.0)

gen_require(`
	type afs_bosserver_t;
	type afs_config_t;
	type afs_dbdir_t;
	type afs_fsserver_t;
	type afs_ptserver_t;
	type afs_t;
	type afs_vlserver_t;
	type auditd_log_t;
	type cgroup_t;
	type gcc_config_t;
	type getty_t;
	type hi_reserved_port_t;
	type httpd_t;
	type initrc_t;
	type kadmind_t;
	type kernel_t;
	type kmod_t;
	type krb5kdc_t;
	type lvm_t;
	type mount_t;
	type portage_conf_t;
	type portage_fetch_t;
	type portage_sandbox_t;
	type portage_tmp_t;
	type portage_t;
	type postfix_pickup_t;
	type postfix_qmgr_t;
	type restorecond_exec_t;
	type rpcd_t;
	type security_t;
	type semanage_t;
	type slapd_db_t;
	type slapd_t;
	type ssh_home_t;
	type sshd_t;
	type sssd_exec_t;
	type sssd_public_t;
	type sssd_t;
	type sssd_var_lib_t;
	type staff_sudo_t;
	type sysadm_systemd_t;
	type sysadm_t;
	type syslogd_t;
	type system_dbusd_t;
	type systemd_generator_t;
	type systemd_logind_t;
	type systemd_networkd_t;
	type systemd_nsresourced_t;
	type systemd_pcrphase_t;
	type systemd_resolved_t;
	type systemd_tmpfiles_t;
	type systemd_userdbd_t;
	type udev_t;
	type unreserved_port_t;
')

#============= afs_bosserver_t ==============
manage_files_pattern(afs_bosserver_t, afs_dbdir_t, afs_dbdir_t)
allow afs_bosserver_t unreserved_port_t:udp_socket name_bind;
corecmd_exec_bin(afs_bosserver_t)
corecmd_search_bin(afs_bosserver_t)
files_search_var_lib(afs_bosserver_t)

#============= afs_fsserver_t ==============
manage_dirs_pattern(afs_fsserver_t, afs_dbdir_t, afs_dbdir_t)
manage_files_pattern(afs_fsserver_t, afs_dbdir_t, afs_dbdir_t)
manage_sock_files_pattern(afs_fsserver_t, afs_dbdir_t, afs_dbdir_t)
allow afs_fsserver_t self:unix_stream_socket connectto;
files_search_var_lib(afs_fsserver_t)
init_rw_inherited_stream_socket(afs_fsserver_t)
init_use_fds(afs_fsserver_t)
sssd_search_lib(afs_fsserver_t)
sssd_stream_connect(afs_fsserver_t)
systemd_read_machines(afs_fsserver_t)
systemd_stream_connect_resolved(afs_fsserver_t)

#============= afs_ptserver_t ==============
rw_files_pattern(afs_ptserver_t, afs_dbdir_t, afs_dbdir_t)
files_search_var_lib(afs_ptserver_t)
init_rw_inherited_stream_socket(afs_ptserver_t)
init_use_fds(afs_ptserver_t)
sssd_search_lib(afs_ptserver_t)
sssd_stream_connect(afs_ptserver_t)
systemd_read_machines(afs_ptserver_t)
systemd_stream_connect_resolved(afs_ptserver_t)

#============= afs_vlserver_t ==============
rw_files_pattern(afs_vlserver_t, afs_dbdir_t, afs_dbdir_t)
files_search_var_lib(afs_vlserver_t)
init_rw_inherited_stream_socket(afs_vlserver_t)
init_use_fds(afs_vlserver_t)
sssd_search_lib(afs_vlserver_t)
sssd_stream_connect(afs_vlserver_t)
systemd_read_machines(afs_vlserver_t)
systemd_stream_connect_resolved(afs_vlserver_t)

#============= afs_t ==============
allow afs_t afs_config_t:dir search;
allow afs_t afs_config_t:file { getattr open read };
allow afs_t afs_config_t:lnk_file read;
init_search_keys(afs_t)

#============= auditd_log_t ==============
systemd_tmpfilesd_managed(auditd_log_t)

#============= gcc_config_t ==============
allow gcc_config_t self:capability dac_read_search;

#============= getty_t ==============
fs_list_tmpfs(getty_t)

#============= kadmind_t ==============
allow kadmind_t hi_reserved_port_t:tcp_socket name_bind;
systemd_read_machines(kadmind_t)
systemd_stream_connect_resolved(kadmind_t)
miscfiles_read_generic_certs(kadmind_t)
miscfiles_search_generic_cert_dirs(kadmind_t)

#============= kmod_t ==============
portage_compile_domain(kmod_t)

#============= krb5kdc_t ==============
systemd_read_machines(krb5kdc_t)
systemd_stream_connect_resolved(krb5kdc_t)

#============= lvm_t ==============
allow lvm_t initrc_t:sem { associate read unix_read unix_write write };
init_search_keys(lvm_t)

#============= mount_t ==============
init_read_runtime_files(mount_t)

#============= portage_fetch_t ==============
init_search_units(portage_fetch_t)
rpc_manage_nfs_rw_content(portage_fetch_t)

#============= portage_t ==============
allow portage_t portage_conf_t:dir watch;
allow portage_t portage_tmp_t:chr_file { create getattr unlink };
allow portage_t portage_tmp_t:dir watch;
corenet_tcp_bind_generic_node(portage_t)
corenet_udp_bind_generic_node(portage_t)
dev_rw_lvm_control(portage_t)
files_mmap_read_kernel_modules(portage_t)
fs_getattr_dos_fs(portage_t)
fs_getattr_nfs(portage_t)
fs_getattr_nsfs_files(portage_t)
init_search_keys(portage_t)
kernel_get_sysvipc_info(portage_t)
kernel_getattr_proc(portage_t)
kernel_list_unlabeled(portage_t)
kernel_read_unlabeled_files(portage_t)
modutils_read_module_deps(portage_t)
storage_raw_read_fixed_disk(portage_t)
userdom_watch_user_runtime_dirs(portage_t)

#============= rpcd_t ==============
kernel_list_unlabeled(rpcd_t)

#============= security_t ==============
systemd_tmpfilesd_managed(security_t)

#============= semanage_t ==============
allow semanage_t self:process getsched;

#============= slapd_t ==============
allow slapd_t slapd_db_t:file map;
sasl_lock_keytab(slapd_t)

#============= sshd_t ==============
allow sshd_t ssh_home_t:sock_file create;
allow sshd_t systemd_logind_t:unix_stream_socket connectto;
init_search_keys(sshd_t)
ssh_manage_home_files(sshd_t)

#============= sssd_t ==============
allow sssd_t self:process { getcap setcap setpgid };
can_exec(sssd_t, sssd_exec_t)
allow sssd_t sssd_var_lib_t:file map;
files_watch_etc_dirs(sssd_t)
files_watch_etc_files(sssd_t)
kernel_getattr_proc(sssd_t)
kernel_read_kernel_sysctls(sssd_t)
sssd_read_config(sssd_t)

#============= staff_sudo_t ==============
allow staff_sudo_t systemd_logind_t:unix_stream_socket connectto;
files_read_usr_files(staff_sudo_t)
init_write_runtime_socket(staff_sudo_t)
sssd_read_config(staff_sudo_t)

#============= sysadm_systemd_t ==============
allow sysadm_systemd_t restorecond_exec_t:file execute;
allow sysadm_systemd_t self:capability mknod;
allow sysadm_systemd_t self:capability2 { bpf perfmon };

#============= sysadm_t ==============
init_search_keys(sysadm_t)

#============= syslogd_t ==============
fs_search_tmpfs(syslogd_t)

#============= systemd_generator_t ==============
allow systemd_generator_t self:capability dac_read_search;
apache_search_sys_content(systemd_generator_t)
fs_list_tmpfs(systemd_generator_t)
rpc_read_nfs_content(systemd_generator_t)

#============= systemd_networkd_t ==============
mount_list_runtime(systemd_networkd_t)
mount_read_runtime_files(systemd_networkd_t)

#============= systemd_nsresourced_t ==============
allow systemd_nsresourced_t self:capability2 perfmon;
fs_getattr_xattr_fs(systemd_nsresourced_t)

#============= systemd_pcrphase_t ==============
allow systemd_pcrphase_t self:capability dac_read_search;
fs_getattr_nsfs_files(systemd_pcrphase_t)
fs_list_tmpfs(systemd_pcrphase_t)
fs_read_dos_files(systemd_pcrphase_t)
fs_read_tmpfs_files(systemd_pcrphase_t)
fs_search_dos(systemd_pcrphase_t)
init_create_runtime_dirs(systemd_pcrphase_t)
kernel_list_unlabeled(systemd_pcrphase_t)

#============= systemd_resolved_t ==============
systemd_stream_connect_networkd(systemd_resolved_t)

#============= systemd_tmpfiles_t ==============
corecmd_search_bin(systemd_tmpfiles_t)

#============= udev_t ==============
allow udev_t kernel_t:netlink_kobject_uevent_socket { getattr read write };
fs_rw_tmpfs_files(udev_t)

#============= sssd_public_t:file map ==============
dcg_sssd_read_public_files(httpd_t)
dcg_sssd_read_public_files(portage_sandbox_t)
dcg_sssd_read_public_files(portage_t)
dcg_sssd_read_public_files(postfix_pickup_t)
dcg_sssd_read_public_files(postfix_qmgr_t)
dcg_sssd_read_public_files(slapd_t)
dcg_sssd_read_public_files(sshd_t)
dcg_sssd_read_public_files(sssd_t)
dcg_sssd_read_public_files(staff_sudo_t)
dcg_sssd_read_public_files(system_dbusd_t)

#============= cgroup_t ==============
fs_rw_cgroup_files(syslogd_t)
fs_rw_cgroup_files(systemd_nsresourced_t)
fs_rw_cgroup_files(systemd_resolved_t)
fs_rw_cgroup_files(systemd_userdbd_t)
